@use 'styles/reset';
@use 'styles/fonts';

:root {
  --font: 'Inter';
  
  --text-color: #000000;
  --primary-color: #FFFFFF;
  --secondary-color: #FF0000;
  --neutral-light-color: #CCCCCC;
  --neutral-dark-color: #333;
  --yellow: #FDEC54;
  --green: #C3F2C2;
  --blue: #81D4FA;
  
  /* Font size */
  --text-2xl: 2rem;
  --text-xl: 1.5rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  /* svg */
  --stroke-width-xl: 3;
  --stroke-width-lg: 2;
  --stroke-round: round;

  /* gaps */
  --spacing-xl: 2rem;
  --spacing-lg: 1.5rem;
  --spacing-md: 1rem;
  --spacing-sm: .5rem;
  --spacing-xd: .25rem

}

html {
  font-size: 16px;
}

body {
  font-family: var(--font);
  background-color: var(--primary-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1a1a1a;
    --text-color: #eee;
  }
} */