@import 'styles/reset';
@import 'styles/fonts';

:root {
  --font: 'Inter', sans-serif;
  
  --text-color: #000000;
  --primary-color: #FFFFFF;
  --secondary-color: #FF0000;
  --neutral-color: #CCCCCC;
  --yellow: #FDEC54;
  --green: #C3F2C2;
  --blue: #81D4FA;
  
  --text-xl: 1.5rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

}

html {
  font-size: 16px;
}

body {
  font-family: var(--font);
  background-color: var(--primary-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1a1a1a;
    --text-color: #eee;
  }
} */